{% extends 'LandingPage/base.html' %}
{% load static %}
<!----------------------------------- -->

{% block title %}
Free content LearnOpad
{% endblock title %}
<!------------------------------------- -->

{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'LandingPage/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/fonts/brand/style.css' %}">

    <link rel="stylesheet" href="{% static 'LandingPage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'LandingPage/css/section/style1.css' %}">
{% endblock header %}

{% block stylesheet %}
<style>
body,html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Raleway;
}
</style>
{% endblock stylesheet %}

    
        <!-- navbar  -->
        

        <div class="site-wrap" id="home-section">

            <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>
        
            {% block content %}
        <div id="free" class="site-section bg-light">
            <div class="container">
                <div class="row mb-5 align-items-center">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <form action="#" class="d-flex search-form">
                            <span class="icon-"></span>
                            <input type="search" class="form-control mr-2" placeholder="Search subjects">
                            <input type="submit" class="btn btn-primary px-4" value="Search">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="heading mb-4">
                            <span class="caption">Free</span>
                            <h2>Courses</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">



                            <div class="d-flex tutorial-item mb-4">
                                <div class="img-wrap">
                                    <a href="#"><img src='{% static 'LandingPage/images/img_1.jpg' %}' alt="Image" class="img-fluid"></a>
                                </div>
                                <div>
                                    <h3><a href="#">Learning React Native</a></h3>
                                    <p> Learn React native totally free with this crash course.Taught by the best of our facilitators.
                                    </p>

                                    <p class="mb-0">
                                        <span class="brand-react h5"></span>
                                        <span class="brand-javascript h5"></span>
                                    </p>
                                    <p class="meta">
                                        <span class="mr-2 mb-2">1hr 24m</span>
                                        <span class="mr-2 mb-2">Advanced</span>
                                        <span class="mr-2 mb-2">Jun 18, 2020</span>
                                    </p>

                                    <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
                                </div>
                            </div>

                            <div class="d-flex tutorial-item mb-4">
                                <div class="img-wrap">
                                    <a href="#"><img src="{% static 'LandingPage/images/img_2.jpg' %}" alt="Image" class="img-fluid"></a>
                                </div>
                                <div>
                                    <h3><a href="#">Learning Angular 101</a></h3>
                                    <p> Learn Angular totally free with this crash course.Taught by the best of our facilitators.
                                    </p>
                                    <p class="mb-0">
                                        <span class="brand-angular h5"></span>
                                        <span class="brand-javascript h5"></span>
                                    </p>
                                    <p class="meta">
                                        <span class="mr-2 mb-2">1hr 24m</span>
                                        <span class="mr-2 mb-2">Advanced</span>
                                        <span class="mr-2 mb-2">Jun 18, 2020</span>
                                    </p>

                                    <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
                                </div>
                            </div>

                            <div class="d-flex tutorial-item mb-4">
                                <div class="img-wrap">
                                    <a href="#"><img src="{% static 'LandingPage/images/img_3.jpg' %}" alt="Image" class="img-fluid"></a>
                                </div>
                                <div>
                                    <h3><a href="#">Learning Photoshop</a></h3>
                                    <p> Learn React native totally free with this crash course.Taught by the best of our facilitators.
                                    </p>
                                    <p class="mb-0">
                                        <span class="brand-adobephotoshop h5"></span>
                                    </p>
                                    <p class="meta">
                                        <span class="mr-2 mb-2">1hr 24m</span>
                                        <span class="mr-2 mb-2">Advanced</span>
                                        <span class="mr-2 mb-2">Jun 18, 2020</span>
                                    </p>
                                    <p><a href="tutorial-single.html" class="btn btn-primary custom-btn">View</a></p>
                                </div>
                            </div>


                            <div class="custom-pagination">
                                <ul class="list-unstyled">
                                    <li><a href="#"><span>1</span></a></li>
                                    <li><span>2</span></li>
                                    <li><a href="#"><span>3</span></a></li>
                                    <li><a href="#"><span>4</span></a></li>
                                    <li><a href="#"><span>5</span></a></li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-6">



                            <button class="accordion">Business</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">
                                <ul>
                                    <li> <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 5px;">Management</button></li>
                                    <li> <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 5px;margin-bottom: 5px;">Communication</button></li>
                                    <li> <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 5px;margin-bottom: 5px;">Operations</button></li>
                                    <li> <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 5px;margin-bottom: 7px;">Human Resources</button></li>
                                </ul>
                            </div>

                            <button class="accordion">IT & Software</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">

                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Web Applications</button>
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Machine Learning</button>
                            </div>


                            <button class="accordion">Personal Development</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Happiness</button>
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Leadership</button>
                            </div>




                            <button class="accordion">Health,Fitness & Lifestyle</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Mental Health</button>
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Physical Health</button>
                            </div>


                            <button class="accordion">Creative Fields</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Photography</button>
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Music</button>
                            </div>


                            <button class="accordion">Teaching/Coaching</button>
                            <div class="panel" style="margin-top: 4px;margin-bottom: 4px;">

                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Maths</button>
                                <button class="btn btn-outline-primary" style="width:ml-auto;margin-top: 7px;margin-bottom: 7px;">Physics</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    

    <script src='{% static 'LandingPage/js/jquery-3.3.1.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/popper.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/bootstrap.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/owl.carousel.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.sticky.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.waypoints.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.animateNumber.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.fancybox.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.easing.1.3.js' %}'></script>
    <script src='{% static 'LandingPage/js/bootstrap-datepicker.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/aos.js' %}'></script>

    <script src='{% static 'LandingPage/js/main.js' %}'></script>
{% endblock content %}


{% block javascript %}
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock javascript %}