.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0563bb;
}

.about .content p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 400px){
    .btn{
        width: 300px;
    }
}