<!DOCTYPE html>
<html>

<head>
    <title> Internships</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Priya">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            color: #272727;
            font-family: 'Quicksand', serif;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0;
            padding: 1rem;
        }
        
        .main {
            max-width: 1200px;
            margin: 0 auto;
        }
        
        h1 {
            font-size: 24px;
            font-weight: 400;
            text-align: center;
        }
        
        img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        
        .cards {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0px;
            padding: 0;
        }
        
        .cards_item {
            display: flex;
            padding: 1rem;
        }
        
        @media (min-width: 40rem) {
            .cards_item {
                width: 50%;
            }
        }
        
        @media (min-width: 56rem) {
            .cards_item {
                width: 50.3333%;
            }
        }
        
        .card {
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0 40px 40px -14px rgba(0, 0, 0, 0.35);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 100%;
        }
        
        .card_content {
            padding: 1rem;
            background: linear-gradient(90deg, rgba(15, 56, 75, 1) 16%, rgba(41, 128, 170, 1) 53%, rgba(36, 219, 217, 1) 100%);
        }
        
        .card_title {
            color: #ffffff;
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
        }
        
        .card_text {
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;
            font-weight: 400;
        }
        
        @media only screen and (max-width: 480px) {
            col2 {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                margin-right: 50px;
            }
            col1 {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                margin-right: 50px;
            }
            col3 {
                position: absolute;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                margin-right: 50px;
            }
        }
    </style>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons  -->
    <link rel="stylesheet" href="css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->
    <!-- <link rel="stylesheet" href="css/all.min.css" type="text/css">-->

    <!-- Argon CSS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="javascript:void(0)">
                    <img src="img/logotiny.png" class="navbar-brand-img" alt="...">Digital TMHM.in
                </a>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">My Courses</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="liveclasses.html">
                                <i class="ni ni-planet text-orange"></i>
                                <span class="nav-link-text">Live Classes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="certificate.html">
                                <i class="fa fa-certificate"></i>
                                <span class="nav-link-text">Certificates</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="internships.html">
                                <i class="ni ni-single-02 text-yellow"></i>
                                <span class="nav-link-text">Internships</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tte.html">
                                <i class="ni ni-bullet-list-67 text-default"></i>
                                <span class="nav-link-text">Talk to Expert</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="ni ni-key-25 text-info"></i>
                                <span class="nav-link-text">FREE Content</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="Support.html">
                                <i class="ni ni-send text-dark"></i>
                                <span class="nav-link-text">Support</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom" id="header">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height:22px;">
                    <!-- Search form -->
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Search " type="text">
                            </div>
                        </div>
                        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </form>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line" style="background:black"></i>
                                    <i class="sidenav-toggler-line" style="background:black"></i>
                                    <i class="sidenav-toggler-line" style="background:black"></i>
                                </div>
                            </div>
                        </li>
                    </ul>



                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="img/team-4.jpg">
                  </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold" style="color:black">Lakshya Aditi</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="Profile Info _ Front - Responsive Website Template.html" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="Login & Security _ Front - Responsive Website Template.html" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Settings</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--content-->
        <div class="container-fluid   bg-white">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Internships
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Engineering Internship</a>
                                <a class="dropdown-item" href="#">Part-Time Jobs/Internships</a>
                                <a class="dropdown-item" href="#">MBA Internship</a>
                                <a class="dropdown-item" href="#">Graphic Design Internship</a>
                                <a class="dropdown-item" href="#">Science Internship</a>
                                <a class="dropdown-item" href="#">Law Internship</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Internships with Job Offer</a>
                                <a class="dropdown-item" href="#">Internships for Women</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Computer Science Internship</a>
                                <a class="dropdown-item" href="#">Marketing Internship</a>
                                <a class="dropdown-item" href="#">Finance Internship</a>
                                <a class="dropdown-item" href="#">HR Internship</a>
                                <a class="dropdown-item" href="#">Digital Marketing Internship</a>
                                <a class="dropdown-item" href="#">Mechanical Internship</a>
                                <a class="dropdown-item" href="#">Electronics Internship</a>
                                <a class="dropdown-item" href="#">Civil Internship</a>
                                <a class="dropdown-item" href="#">Content Writing Internship</a>
                                <a class="dropdown-item" href="#">Campus Ambassador Program</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div class="container">
                <div class="row justify-content-md-center" id="col1">
                    <div class="col col-lg-3">

                        <div class="card text-light " style="left:-20px;" id="col2">
                            <div class="card-header bg-info" style="color: black">Filter</div>
                            <div class="card-body bg-secondary">
                                <h5 class="card-title">Category</h5>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Web Development</option>
            <option value="2">Graphics Designing</option>
            <option value="3">Python Development</option>
            <option value="4">Content Writing</option>
            <option value="5">Visualizer</option>
            <option value="6">Marketing and Sales</option>
            <option value="7">Accounts</option>
            <option value="8">Android app Development</option>
            <option value="9">Cloud Computing</option>
          </select>
                                </div>
                                <h5 class="card-title">Location</h5>
                                <div class="input-group mb-3">

                                    <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Bangalore</option>
            <option value="2">Delhi</option>
            <option value="3">Mumbai</option>
            <option value="4">Hyderabad</option>
            <option value="5">Chennai</option>
            <option value="6">Pune</option>
            <option value="7">Noaida</option>
            <option value="8">Kolkata</option>
            <option value="9">Jaipur</option>
            
          </select>
                                </div>
                                <div class="custom-control custom-switch" style="margin-left: 30px;color: black;margin-right: 30px;">
                                    <input type="checkbox" class="custom-control-input bg-light" id="customSwitch1" style="color: aqua">
                                    <label class="custom-control-label" for="customSwitch1"><h5>Part Time</h5></label>
                                </div>
                                <div class="custom-control custom-switch" style="margin-left: 30px;color: black;">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                    <label class="custom-control-label" for="customSwitch2"><h5>Work from Home</h5></label>
                                </div>


                                <h5 class="card-title">Max durations (in months)</h5>
                                <div class="input-group mb-3">

                                    <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              
          </select>
                                </div>
                                <div class="custom-control custom-switch" style="margin-left: 30px;color: black;margin-right: 30px;">
                                    <input type="checkbox" class="custom-control-input bg-light" id="customSwitch3" style="color: aqua">
                                    <label class="custom-control-label" for="customSwitch3"><h5>Internships for Women</h5></label>
                                </div>
                                <div class="custom-control custom-switch" style="margin-left: 30px;color: black;">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                    <label class="custom-control-label" for="customSwitch4"><h5>Internships with job offer</h5></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card bg-secondary" style="width: 100%;border-left: 5px solid deepskyblue;left: -20px;color: black;" id="col3">
                            <div class="card-body">
                                <h2 class="card-title" style="margin-bottom: 0px">
                                    <div class="media">
                                        <img src="img/logotiny.png" class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h2 class="mt-0">Web Development</h2>
                                            <h3 class="mt-0 text-muted" style="margin-bottom: -10px">Amazon</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4 class="card-subtitle mb-2 text-muted" style="top: 50px;"><i class="fa fa-home" aria-hidden="true"></i>Work from home</h4>
                                    <div class="row">
                                        <div class="col-sm">
                                            <i class="fa fa-play-circle" aria-hidden="true"></i> START DATE<br><span class="text-muted">24/08/20</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i> DURATION<br><span class="text-muted">2 months</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-money" aria-hidden="true"></i> STIPEND<br><span class="text-muted">10000/month</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> APPLY BY<br><span class="text-muted">24/09/2000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="card-link" style="float: right;margin-top: 10px;"><button class="btn btn-dark" style="border-radius: 100px;">Apply Now</button></a>

                            </div>
                        </div>
                        <div class="card bg-secondary" style="width: 100%;border-left: 5px solid deepskyblue;left: -20px;color: black;" id="col3">
                            <div class="card-body">
                                <h2 class="card-title" style="margin-bottom: 0px">
                                    <div class="media">
                                        <img src="img/logotiny.png" class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h2 class="mt-0">Web Development</h2>
                                            <h3 class="mt-0 text-muted" style="margin-bottom: -10px">Amazon</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4 class="card-subtitle mb-2 text-muted" style="top: 50px;"><i class="fa fa-home" aria-hidden="true"></i>Work from home</h4>
                                    <div class="row">
                                        <div class="col-sm">
                                            <i class="fa fa-play-circle" aria-hidden="true"></i> START DATE<br><span class="text-muted">24/08/20</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i> DURATION<br><span class="text-muted">2 months</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-money" aria-hidden="true"></i> STIPEND<br><span class="text-muted">10000/month</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> APPLY BY<br><span class="text-muted">24/09/2000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="card-link" style="float: right;margin-top: 10px;"><button class="btn btn-dark" style="border-radius: 100px;">Apply Now</button></a>

                            </div>
                        </div>
                        <div class="card bg-secondary" style="width: 100%;border-left: 5px solid deepskyblue;left: -20px;color: black;" id="col3">
                            <div class="card-body">
                                <h2 class="card-title" style="margin-bottom: 0px">
                                    <div class="media">
                                        <img src="img/logotiny.png" class="mr-3" alt="...">
                                        <div class="media-body">
                                            <h2 class="mt-0">Web Development</h2>
                                            <h3 class="mt-0 text-muted" style="margin-bottom: -10px">Amazon</h3>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4 class="card-subtitle mb-2 text-muted" style="top: 50px;"><i class="fa fa-home" aria-hidden="true"></i>Work from home</h4>
                                    <div class="row">
                                        <div class="col-sm">
                                            <i class="fa fa-play-circle" aria-hidden="true"></i> START DATE<br><span class="text-muted">24/08/20</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-calendar-o" aria-hidden="true"></i> DURATION<br><span class="text-muted">2 months</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-money" aria-hidden="true"></i> STIPEND<br><span class="text-muted">10000/month</span>
                                        </div>
                                        <div class="col-sm">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> APPLY BY<br><span class="text-muted">24/09/2000</span>
                                        </div>
                                    </div>
                                    <a href="#" class="card-link" style="float: right;margin-top: 10px;"><button class="btn btn-dark" style="border-radius: 100px;">Apply Now</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer -->
        <footer class="footer pt-0">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="copyright text-center  text-lg-left  text-muted">
                        &copy; 2020 <a href="http://tmhm.in/" class="font-weight-bold ml-1" target="_blank">TMHM Company</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a href="http://tmhm.in/" class="nav-link" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://tmhm.in/blog/" class="nav-link" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" target="_blank">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="jquery/jquery.min.js"></script>
    <script src="jquery/bootstrap.bundle.min.js"></script>
    <script src="js/js.cookie.js"></script>
    <!-- Argon JS -->
    <script src="js/argon.js?v=1.2.0"></script>


</body>

</html>