@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Contact
4. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.9285;
	font-weight: 400;
	color: #72728c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 72px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_subtitle
{
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #72728c;
	line-height: 0.75;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title
{
	color: #181818;
	margin-top: 26px;
}
.button
{
	width: 161px;
	height: 52px;
	background: rgba(24,24,24,1);
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 52px;
}
.button:hover
{
	background: rgba(24,24,24,0.7);
}



/*********************************
4. Contact
*********************************/

.contact
{
    align-items: center;
	width: 100%;
	margin-top: 20px;
    margin-bottom: 20px;
	background: #FFFFFF;
}
.contact_content1{
    ;
}
.contact_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	color: #181818;
}
.contact_text
{
	margin-top: 30px;
}
.contact_list
{
	margin-top: 52px;
}
.contact_list ul li:not(:last-child)
{
	margin-bottom: 36px;
}
.contact_list ul li > div:first-child
{
	width: 104px;
	height: 34px;
	background: #181818;
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	line-height: 34px;
	border-radius: 10px;
}
.contact_list ul li > div:last-child
{
	font-size: 14px;
	color: #88889d;
	margin-top: 10px;
	padding-left: 25px;
}
.contact_form_container
{
	width: 100%;
	margin-top: 30px;
}
.contact_input
{
	width: 100%;
	height: 53px;
	background: #f2f5f6;
	border: none;
	outline: none;
	padding-left: 20px;
}
.contact_textarea
{
	height: 200px;
	padding-top: 12px;
}
.contact_input::-webkit-input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #88889d !important;
}
.contact_input:-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #88889d !important;
}
.contact_input::-moz-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #88889d !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #88889d !important;
}
.contact_input::input-placeholder
{
	font-family: 'Oswald', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #88889d !important;
}
.contact_form .input_border
{
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #181818;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button
{
	width: 161px;
	height: 52px;
	background-color: royalblue;
	font-family: 'Oswald', sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 30px;
    
}
/*--
.contact_map
{
	width: 100%;
	height: 692px;
}
.map
{
	width: 100%;
	height: 100%;
}
.google_map
{
	width: 100%;
	height: 100%;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
*/
