{% extends 'LandingPage/base.html' %}
{% load static %}
<!--------------------------------- -->

{% block title %}
Course Details
{% endblock title %}
<!---------------------------------- -->

{% block header %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/styles/bootstrap4/bootstrap.min.css'%}'>
<link href='{% static 'LandingPage/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}' rel="stylesheet" type="text/css">
<link href='{% static 'LandingPage/plugins/colorbox/colorbox.css'%}' rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/owl.carousel.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/owl.theme.default.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/animate.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/styles/course.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/styles/course_responsive.css'%}'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400">
        <link rel="stylesheet" href='{% static 'LandingPage/LandingPage/css/owl.carousel.css'%}'>
        <link rel="stylesheet" href='{% static 'LandingPage/LandingPage/css/owl.theme.default.min.css'%}'>
        
        <script>
var user = '{{request.user}}'
function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')


        	function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
</script>
{% endblock header %}
<!---------------------------------- -->

{% block stylesheet %}
        <style>
                .rate {
                    font-size: 30px;
                     }
              .rate .fu{
                    font-size: 30px;
                    color:#FF9800;      
                    cursor: pointer;
                   }
        body,
        html {
            margin: 0;
            padding: 0;
            max-width: 100%;
            overflow-x: hidden;
            font-family: Raleway;
        }
        
        .item {
            background-color: white;
            min-height: 250px;
            border-radius: 10px;
            border: 2px solid black;
        }
        
        .label {
            color: white;
        }
        
        .head {
            color: black;
        }
        
        .signup-form form {
            width: 100%;
            background-color: #f1f2f6;
            border-radius: 3px;
            margin-bottom: 15px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        
        .signup-form .hint {
            color: black;
            margin-bottom: 30px;
            text-align: center;
        }
        
        .slider-area {
            margin: 0;
        }
        
        .carousel-control.left,
        .carousel-control.right {
            background: transparent;
        }
        
        .img-area {
            margin: auto;
            overflow: hidden;
            align-items: center;
        }
        
        .img-area img {
            height: 400px;
            width: 500px;
        }
        
        .carousel-caption {
            position: static;
            padding-bottom: 15px;
            padding-top: 0;
        }
        
        .carousel-caption h4 {
            font-size: 20px;
        }
        
        #navbar-left a {
            text-decoration: none;
            color: #ababab;
        }
        
        #navbar-left a:hover {
            color: black;
        }
        
        #navbar-left button {
            color: white;
        }
        
        footer {
            background: #eeeeee;
            color: #757575;
            font-size: 13px;
            line-height: 1.2
        }
        
        footer h6 {
            color: #9e9e9e;
        }
        
        footer a {
            color: black;
        }
        
        footer a:link {
            text-decoration: none;
        }
        
        footer a:hover {
            color: #757575;
        }
        
        footer #social i {
            color: black;
            font-size: 1.2rem;
        }
        
        footer #social i:hover {
            color: #3db166;
        }
        
        @media (max-width: 768px) {
            #navbar-left {
                display: block;
            }
            #first {
                padding-top: 2px;
                padding-bottom: 2px;
                line-height: 12px;
            }
            .container-fluid {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            .section-a img {
                padding: 0;
            }
            footer {
                font-size: 7.2px;
            }
        }
        
        @media (max-width: 990px) {
            #navbar-left {
                display: block;
            }
            #navbar-left form {
                display: none;
            }
            .section-a {
                margin-bottom: 32px;
            }
            .section-a img {
                margin: 32px;
            }
            .section-a #section-a-learn h2,
            h3 {
                font-size: 31px;
            }
            .section-a #section-a-learn h4 {
                font-size: 15px;
            }
            #query {
                margin-left: 11em;
            }
            #query_request {
                text-align: center !important;
            }
            footer {
                font-size: 7.2px;
            }
        }
        
        @media (max-width: 375px) {
            #query {
                margin-left: 0 !important;
            }
        }
        
        @media all and (max-width: 765px) {
            footer {
                font-size: 1rem;
            }
            #query {
                margin-left: 1.5em;
            }
            #footer-left {
                padding-left: 3em;
                text-align: left;
            }
        }
        
        @media only screen and (max-width: 1000px) {
            #logo {
                margin-left: 10px!important;
            }
        }
        
        @media only screen and (max-width: 1080px) {
            #request {
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
    </style>
{% endblock stylesheet %}
<!---------------------------- -->

{% block content %}
    <div class="super_container">
        <div style="background-color: black;padding-bottom: 50px">
            <div class="container" style="color: white">
                <div class="row">

                    <!-- Course -->
                    <div class="col-lg-8">

                        <div class="" style="color: white">
                            <div class="course_title" style="margin-top: 30px">{{course.title}}</div>
                            <h5 style="color: white">{{course.description}}</h5>
                            
                            <button class="btn btn-info btn-sm" style="margin-right: 10px">Highest rated</button><span id='avg_rating_card'>{{avg_rating}}</span>
                            <span class="rating_r rating_r_{{int_avg_rating}}"><i></i><i></i><i></i><i></i><i></i></span>(<span id='total_rating_card'>{{ total_rating}}</span> ratings) {{total_leaners_for_this_course}} students
                            <h6 style="color: white;margin-top: 10px">Created by <a href="#" style="color:#14bdee">{{facilitator.name}}</a></h6>
                            <h6 style="color: white;margin-top: 10px"><i class="fa fa-globe" aria-hidden="true"></i> {{course.language}} </h6>
                            <div style="margin-top: 10px">
                                <button data-product="{{course.Cid}}" data-action="add" class="btn btn-outline-info update-cart" style="margin-right: 30px">Wishlist <i class="fa fa-heart" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-outline-info">Share <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Course -->

        <div class="course" style="">
            <div class="container">
                <div class="row">

                    <!-- Course -->
                    <div class="col-lg-8">

                        <div class="course_container">

                            <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                                <!-- Course Info Item -->
                                <div class="course_info_item">
                                    <div class="course_info_title">Facilitator:</div>
                                    <div class="course_info_text"><a href="#">{{facilitator.name}}</a></div>
                                </div>

                                <!-- Course Info Item -->
                                <div class="course_info_item">
                                    <div class="course_info_title">Reviews:</div>
                                    <div class="rating_r rating_r_{{facilitator_rating}}"><i></i><i></i><i></i><i></i><i></i></div>
                                </div>

                                <!-- Course Info Item -->
                                <div class="course_info_item">
                                    <div class="course_info_title">Categories:</div>
                                    <div class="course_info_text"><a href="#">{{course.subCat_id.name}}</a></div>
                                </div>

                            </div>

                            <!-- Course Image -->
                            <div class="course_image"><img src='{% static 'LandingPage/images/course_image.jpg'%}' alt=""></div>
                        
                            <!-- Course Tabs -->
                            <div class="course_tabs_container">
                                <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                    <div class="tab active">description</div>
                                    {% comment %} <div class="tab">curriculum</div> {% endcomment %}
                                    <div class="tab">reviews</div>
                                </div>
                                <div class="tab_panels">

                                    <!-- Description -->
                                    <div class="tab_panel active">
                                        <div class="tab_panel_title">{{course.name}}</div>
                                        <div class="tab_panel_content">
                                            <div class="tab_panel_text">
                                                <p>{{course.description}}</p>
                                            </div>
                                            <div class="tab_panel_section">
                                                <div class="tab_panel_subtitle">prerequesite</div>
                                                <ul class="tab_panel_bullets">
                                                    <li>No prerequesite required </li>
                                                   </ul>
                                            </div>
                                            <div class="tab_panel_section">
                                                <div class="tab_panel_subtitle"></div>
                                                <div class="tab_panel_text">
                                                    <p>{{course.takeway}}</p>
                                                </div>
                                            </div>
                                            <div class="tab_panel_faq">

                                                <!-- Accordions -->
                                                <div class="accordions">



                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% comment %} <!-- Curriculum -->
                                    <div class="tab_panel tab_panel_2">
                                        <div class="tab_panel_content">
                                            <div class="tab_panel_title">Software Training</div>
                                            <div class="tab_panel_content">
                                                <div class="tab_panel_text">
                                                    <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                                        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                                </div>

                                                <!-- Dropdowns -->
                                                <ul class="dropdowns">
                                                    <li class="has_children">
                                                        <div class="dropdown_item">
                                                            <div class="dropdown_item_title"><span>Lecture 1:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                            <div class="dropdown_item_text">
                                                                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="dropdown_item">
                                                                    <div class="dropdown_item_title"><span>Lecture 1.1:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                                    <div class="dropdown_item_text">
                                                                        <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="dropdown_item">
                                                                    <div class="dropdown_item_title"><span>Lecture 1.2:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                                    <div class="dropdown_item_text">
                                                                        <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="has_children">
                                                        <div class="dropdown_item">
                                                            <div class="dropdown_item_title"><span>Lecture 2:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                            <div class="dropdown_item_text">
                                                                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                            </div>
                                                        </div>
                                                        <ul>
                                                            <li>
                                                                <div class="dropdown_item">
                                                                    <div class="dropdown_item_title"><span>Lecture 2.1:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                                    <div class="dropdown_item_text">
                                                                        <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="dropdown_item">
                                                                    <div class="dropdown_item_title"><span>Lecture 2.2:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                                    <div class="dropdown_item_text">
                                                                        <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown_item">
                                                            <div class="dropdown_item_title"><span>Lecture 3:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                            <div class="dropdown_item_text">
                                                                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown_item">
                                                            <div class="dropdown_item_title"><span>Lecture 4:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                            <div class="dropdown_item_text">
                                                                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="dropdown_item">
                                                            <div class="dropdown_item_title"><span>Lecture 5:</span> Lorem Ipsn gravida nibh vel velit auctor aliquet.</div>
                                                            <div class="dropdown_item_text">
                                                                <p>Lorem Ipsn gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auci elit consequat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}

                                    <!-- Reviews -->
                                    <div class="tab_panel tab_panel_3">
                                        <div class="tab_panel_title">Course Review</div>

                                        <!-- Rating -->
                                        <div class="review_rating_container">
                                                <div class="review_rating">
                                                            <div id='review_rating_num'class="review_rating_num">{{avg_rating}}</div>
                                                    <div class="review_rating_stars">
                                                        <div class="rating_r rating_r_{{int_avg_rating}}"><i></i><i></i><i></i><i></i><i></i></div>
                                                    </div>
                                                    <div class="review_rating_text">({{total_rating}} Ratings)</div>
                                                </div>
                                                <div class="review_rating_bars">
                                                    <ul>
                                                        <li><span>5 Star</span>
                                                            <div class="review_rating_bar">
                                                                <div id='str5' style="width:{{str5}}%;" ></div>
                                                            </div>
                                                        </li>
                                                        <li><span>4 Star</span>
                                                            <div class="review_rating_bar">
                                                                <div id='str4'style="width:{{str4}}%;"></div>
                                                            </div>
                                                        </li>
                                                        <li><span>3 Star</span>
                                                            <div class="review_rating_bar">
                                                                <div id='str3' style="width:{{str3}}%;"></div>
                                                            </div>
                                                        </li>
                                                        <li><span>2 Star</span>
                                                            <div class="review_rating_bar">
                                                                <div id='str2'style="width:{{str2}}%;" ></div>
                                                            </div>
                                                        </li>
                                                        <li><span>1 Star</span>
                                                            <div class="review_rating_bar">
                                                                <div id='str1' style="width:{{str1}}%;"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                              
                                                <div style="text-align: center;">
                                                <p>Rate this Course!</p>
                                                <div class="rate">
                                                        <span>&#9733</span>
                                                        <span>&#9733</span>
                                                        <span>&#9733</span>
                                                        <span>&#9733</span>
                                                        <span>&#9733</span>
                                                     </div>
                                                    </div>
                                            </div>
                                        <!-- Comments -->
                                        <div class="comments_container">
                                            {% for rev in reviews %}
                                            <ul class="comments_list">
                                                <li>
                                                    <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                        <div class="comment_image">
                                                            <div><img src={{ rev.Lid.profile.url }} alt=""></div>
                                                        </div>
                                                        <div class="comment_content">
                                                            <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                                <div class="comment_author"><a href="#">{{ rev }}</a></div>
                                                                <!-- <div class="comment_rating">
                                                                    <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                                                                </div> -->
                                                                <div class="comment_time ml-auto">{{ rev.created_at }}</div>
                                                            </div>
                                                            <div class="comment_text">
                                                                <p>{{ rev.reviews }}</p>
                                                            </div>
                                                            <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                                <!-- <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div> -->
                                                                <div class="comment_extra comment_reply"><a class="on-reply" id="{{ rev.id }}"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
                                                                
                                                            </div>
                                                            <br>
                                                            <div class="reply{{ rev.id }}" id="{{ rev.id }}" name="{{ rev.id }}" style="display:none;">
                                                                {% for rep in rev.reply_set.all %}
                                                                <div class="d-flex flex-row align-items-start jutify-content-start">
                                                                    <div class="comment_image">
                                                                        <div><img src={{ facilitator.profile.url }} alt=""></div>
                                                                    </div>
                                                                    <div class="comment_content">
                                                                        <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                                            <div class="comment_author"><a href="#">{{ facilitator.name }}</a></div>
                                                                        </div>
                                                                        <div class="comment_text">
                                                                            <p>{{ rep.replies }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                                {% if fac_user == 1 %}
                                                                <form method="POST" id="reply-form{{ rev.id }}">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" id="exampleFormControlTextarea1{{ rev.id }}" rows="3" name="Reply"
                                                                            placeholder="Reply"></textarea>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </form>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            {% endfor %}
                                            {% if user == 0 %}
                                            <div class="add_comment_container">
                                                <div class="add_comment_title">Add a review</div>
                                                <div class="add_comment_text">You must be <a href="#">Learner</a> in to post a comment.</div>
                                            </div>
                                            {% else %}
                                            <form method='POST'>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Enter Your Reviews</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Course Sidebar -->

                    <div class="col-lg-4" style="top: -50px">
                        <div class="sidebar">
                            <div align="center">
                                <div class="card" style="width: 18rem;">
                                    <div style="">
                                    <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="{{course_video.video.url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div> 
                                       
                                        {% comment %} <img src='{% static 'LandingPage/images/office.jpeg'%}' class="card-img-top" alt="...">
                                        <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;background-color: rgba(0,0,0,0.4);width: 100%;height: 100%"></div>
                                        <div class="centered" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: white;">
                                            <center><a href="#"><i class="fa fa-play-circle" aria-hidden="true" style="font-size: 60px;color: #14bdee;"></i></a></center>
                                        </div>

                                        <div style="position: absolute;top: 75%;left: 50%;transform: translate(-50%, -50%);color: white;">
                                            <h5 style="color: white;width: 200px">
                                                <center>Course Preview</center>
                                            </h5>
                                        </div> {% endcomment %}
                                    </div>

                                    <div class="card-body" style="margin-bottom:-30px">
                                        <h5 class="card-title">$180 <span style="text-decoration-line: line-through;font-size: 15px;" class="text-muted">$500 </span><span style="font-size: 15px;"> 30% Off </span> </h5>
                                    </div>
                                    <button data-product="{{course.Cid}}" data-action="add" class="btn btn-primary update-cart" style="margin: 10px;">Buy Now</button>
                                    <button data-product="{{course.Cid}}" data-action="add" class="btn btn-outline-primary update-cart" style="margin: 10px">Add to cart</button>
                                    <div class="card-title" style="margin-left: 20px;margin-top: 10px">
                                        <h5>Course Feature</h5>
                                    </div>
                                    <div align="center" style="margin-left: 20px;margin-right: 20px">
                                        <div class="feature d-flex flex-row align-items-center justify-content-start">
                                            <div class="feature_title"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Course Duration:</span></div>
                                            <div class="feature_text ml-auto">{{course.day}}</div>
                                        </div>

                                        <!-- Feature -->
                                        <div class="feature d-flex flex-row align-items-center justify-content-start">
                                            <div class="feature_title"><i class="fa fa-file-text-o" aria-hidden="true"></i><span>Modules:</span></div>
                                            <div class="feature_text ml-auto">5</div>
                                        </div>




                                    </div>
                                    <div class="card-body">
                                        <hr>
                                        <center><a href="#" class="card-link" style="font-weight: 300"><b>Apply</b></a></center>

                                    </div>
                                </div>
                            </div>
                            <!-- Feature -->
                            <div class="sidebar_section" style="margin-top: 30px">
                                <div class="sidebar_section_title">Facilitator</div>
                                <div class="sidebar_teacher">
                                    <div class="teacher_title_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="teacher_image"><img src='{% static 'LandingPage/images/teacher.jpg'%}' alt=""></div>
                                        <div class="teacher_title">
                                            <div class="teacher_name"><a href="{% url 'aboutfacilitator' facilitator.Fid %}">{{facilitator.name}}</a></div>
                                            <div class="teacher_position">{{facilitator.user.intrest}}</div>
                                        </div>
                                    </div>
                                    <div class="teacher_meta_container">
                                        <!-- Teacher Rating -->
                                        <div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                                            <div class="teacher_meta_title">Average Review:</div>
                                            <div class="teacher_meta_text ml-auto"><span id='float_facilitator_rating'></span><i class="fa fa-star" aria-hidden="true"></i></div>
                                        </div>
                                        <!-- Teacher Review -->
                                        <div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                                            <div class="teacher_meta_title">Comments:</div>
                                            <div class="teacher_meta_text ml-auto"><span>12k</span><i class="fa fa-comment" aria-hidden="true"></i></div>
                                        </div>
                                        <!-- Teacher Quizzes -->
                                        <div class="teacher_meta d-flex flex-row align-items-center justify-content-start">
                                            <div class="teacher_meta_title">Enrolled students:</div>
                                            <div class="teacher_meta_text ml-auto"><span>{{course.enroll.all | length }}</span><i class="fa fa-user" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                    <div class="teacher_info">
                                        <p>
                                        {{facilitator.bio}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="sidebar_section" style="margin-bottom: -100px">
                             {% if similer %}
                                <div class="sidebar_section_title">Similar Courses</div>
                                <div class="sidebar_latest">

                                    <!-- Latest Course -->
                                   
                                    {% for courses in similer %}
                                    <div class="latest d-flex flex-row align-items-start justify-content-start">
                                        <div class="latest_image">
                                            <div><img src='{% static 'LandingPage/images/course_4.jpg' %}' alt=""></div>
                                        </div>
                                        <div class="latest_content">
                                            <div class="latest_title"><a href='{% url 'course' course.Cid %}' class="stretched-link">{{course.title}}</a></div>
                                            <div class="latest_price">Free</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                   

                                   
                                </div>
                            </div>
                             {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/da956b6924.js" crossorigin="anonymous"></script>
    </script><script src='{% static 'LandingPage/LandingPage/js/owl.carousel.js'%}'></script>
    <script src='{% static 'LandingPage/js/jquery-3.2.1.min.js'%}'></script>
    <script src='{% static 'LandingPage/styles/bootstrap4/popper.js'%}'></script>
    <script src='{% static 'LandingPage/styles/bootstrap4/bootstrap.min.js'%}'></script>
    <script src='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}'></script>
    <script src='{% static 'LandingPage/plugins/easing/easing.js'%}'></script>
    <script src='{% static 'LandingPage/plugins/parallax-js-master/parallax.min.js'%}'></script>
    <script src='{% static 'LandingPage/plugins/colorbox/jquery.colorbox-min.js'%}'></script>
    <script src='{% static 'LandingPage/js/course.js'%}'></script>
{% endblock content %}
<!-------------------------- -->

{% block javascript %}


    <script>

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

        $(document).ready(function () {
            $(".on-reply").click(function (e) {
                e.preventDefault()
                var idstr = this.id.toString();
                var id = $(this).attr('id');
                $(".reply"+idstr).slideToggle();
                $("#reply-form"+idstr).submit(function (e) {
                    console.log(id)
                    $.ajax({
                    type: "POST",
                    url: "{% url 'course' pk %}",
                    data: {
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        'reply1': id,
                        'reply':$('#exampleFormControlTextarea1'+idstr).val()
                        },
                    });
                });  
            });
        });

        function check_ephone(phno, email){
            var regex = /^[0-9]{10}$/;
            var regexe_email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)){
                return true;
                } else {
                    if (!(regex.test(phno.yourphone.value)) ) {
                        alert("This is not a valid phone number");
                        return false;
                    }
                    if (!(regex.test(email.youreamil.value)) ) {
                        alert("This is not a valid email id");
                        return false;
                    }
                    if (!(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)) ) {
                        alert("This is not a valid phone number and email id");
                        return false;
                    } 
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script type="text/javascript" src="{% static 'payment_gateway/js/cart.js' %}"></script>
    <script>






            const stars=document.querySelector(".rate").children;
            let ratingValue = 0;
             let index;
             let rated = {{rated_by_me | safe }};
      
              for(let i=0; i<stars.length; i++){
            
               if (i<rated) {
                  
                  for(let j=0; j<=i; j++){
                     //stars[j].classList.remove("fa-star-o");		 	
                  stars[j].classList.add("fu");		 	
                  }
               }
                 stars[i].addEventListener("mouseover",function(){
                     for(let j=0; j<stars.length; j++){
                        stars[j].classList.remove("fu");		 	
                        //stars[j].classList.add("fa-star-o");		 	
                     }
                     for(let j=0; j<=i; j++){
                        //stars[j].classList.remove("fa-star-o");		 	
                       stars[j].classList.add("fu");		 	
                     }
                 })
                 stars[i].addEventListener("click",function(){
                 ratingValue=i+1; 
                 index=i;
                 $.ajax({
                    url: "{% url 'rate_course' pk %}",
                    data: {
                        'star': ratingValue,
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                       $('#review_rating_num').text(data.avg_rating.toFixed(1));
                        $('#float_facilitator_rating').text(data.float_facilitator_rating);
                         $('#avg_rating_card').text(data.avg_rating.toFixed(1));
                         $('#total_rating_card').text(data.total_rating);
                        
                        $("#str1").css("width", data.str1+'%');
                        $("#str2").css("width", data.str2+'%');
                        $("#str3").css("width", data.str3+'%');
                        $("#str4").css("width", data.str4+'%');
                        $("#str5").css("width", data.str5+'%');
                       
                    }
                });
                 console.log(ratingValue);
                 })
                 stars[i].addEventListener("mouseout",function(){
                     
                     for(let j=0; j<stars.length; j++){
                        stars[j].classList.remove("fu");		 	
                        //stars[j].classList.add("fa-star-o");		 	
                     }
                     for(let j=0; j<=index; j++){
                        //stars[j].classList.remove("fa-star-o");		 	
                       stars[j].classList.add("fu");		 	
                     }
                 })
              }
            
      </script>
    {% endblock javascript %}