<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'login/login.css' %}" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
    <div class="form">
<div class="ebox card-inverse">
    <h2 class="text-secondary">Login</h2>
    <form class="text-secondary" method="POST" action="{% url 'login' %}{% if request.GET.subscription %}?subscription='continue'{% endif %}">
        {% csrf_token %}
    <div class="entry">
    <input type="email" name="email" required="">
    <label>E-mail</label>
    </div>
    <div class="entry">
    <input type="password" name="password" required="">
    <label>Password</label>
    </div>
    <input type="submit" name="" value="Submit">
    </form>
</div>
</div>
</body>
</html>