body {
    height: 100vh;
    background-color: #dee9ff;
    background-size: cover;

}
.ebox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: ghostwhite;
    background: rgba(248,248, 255, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0,0, 0, .2);
    border-radius: 10px;
}
.ebox h2{
    margin: 0 0 30px;
    padding: 0;
    /* color: #6c757d; */
    text-align: center;
}
.ebox .entry{
    position: relative;
}
.ebox .entry input{
    width: 100%;
    padding: 2px 0;
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #6c757d;
    outline: none;
    background: transparent;
}
.ebox .entry label{
    position: absolute;
    top: -30px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    /* color: #6c757d; */
    pointer-events: none;
    transition: .5s;
}
.ebox .entry input:valid ~ label{
        color: #03a9f4;
}
.ebox input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #0275d8;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}