{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link href="{% static 'LandingPage/img/logotiny.png' %}" rel="icon">
    <title>{% block title %}{% endblock title %}</title>
    {% block header %}
    {% endblock header %}

    {% block stylesheet %}
    {% endblock stylesheet %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b5dc9b9c74.js" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
	// jQuery code

	//////////////////////// Prevent closing from click inside dropdown
    $(document).on('click', '.dropdown-menu', function (e) {
      e.stopPropagation();
    });

    // make it as accordion for smaller screens
    
        if ($(window).width() < 992) {
            $('.dropdown-menu a').click(function(e){
                e.preventDefault();
                if($(this).next('.submenu').length){
                    $(this).next('.submenu').toggle();
                }
                $('.dropdown').on('hide.bs.dropdown', function () {
                $(this).find('.submenu').hide();
                })
            });
            //document.getElementsByClassName(".dropdown-toggle").setAttribute("data-toggle","dropdown");
            $(".parent-toggle").attr("data-toggle","dropdown");
        }
        else{
            $(".parent-toggle").attr("data-toggle","");
        }
    $( window ).resize(function() {
        if ($(window).width() < 992) {
            $(".parent-toggle").attr("data-toggle","dropdown");
        }
        else{
            $(".parent-toggle").attr("data-toggle","");
        }
    });
	
}); // jquery end
    </script>
    
    <style>
        body{
            height: 100vh;
            
        }
       
        .cart{
            padding: 0 20px;
           
        }
        .cart .fas{
            font-size: 30px;
            color: #000 ;
            position: relative;
            padding:  10px;

        }
        .cart .cart-qty{
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            background-color: #007bff  ;
            color: #fff;
            font-size: 12px;
            border-radius: 50%;
            padding: 5px 7px;

        }
        @media (min-width: 992px){
		.dropdown-menu .dropdown-toggle:after{
			border-top: .3em solid transparent;
		    border-right: 0;
		    border-bottom: .3em solid transparent;
		    border-left: .3em solid;
		}

		.dropdown-menu .dropdown-menu{
			margin-left:0; margin-right: 0;
		}

		.dropdown-menu li{
			position: relative;
		}
		.nav-item .submenu{ 
			display: none;
			position: absolute;
			left:100%; top:-7px;
		}
		.nav-item .submenu-left{ 
			right:100%; left:auto;
		}
        .dropdown-item{
            border-bottom: 1.5px solid #f1f1f1;
        }
        .dropdown-item:hover{
            background-color: #007bff;
            color: #fff;
        }
		.dropdown-menu > li:hover{ background-color: #dddbdb }
		.dropdown-menu > li:hover > .submenu{
			display: block;
        }
        .nav-item >.dropdown-menu{ display: none; }
		 
		 .nav-item:hover >.dropdown-menu{ display: block; }
         .dropdown-menu{
            padding: 0;
         }
         .dropdown-toggle::after{
            vertical-align: middle;
         }
	}
    @media (max-width: 992px){
        .dropdown-toggle::after{
            vertical-align: middle;
            right: 0;
         }
    }
    .input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    }
    footer {
        background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
        color: #757575;
        font-size: 13px;
        line-height: 1.2;
    }
    </style>
</head>

<body>

    <figure class="figure" style="margin-right: 11px;margin-top: 18px;margin-bottom: 11px;margin-left: 15px;">
        <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;">
        <figcaption class="figure-caption text-center">LearnOpad</figcaption>
    </figure>

    <nav class="navbar navbar-expand-lg navbar-light" style="background: #f7f7f7;">
        <div class="container">
            <a class="navbar-brand" href="/home"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle parent-toggle" data-toggle="" href="{% url 'category'  %}" >Categories</a>
                        <ul class="dropdown-menu">
                            {% if cat %}
                            {% for c in cat %}
                            <li><a class="dropdown-item dropdown-toggle" href="#"> {{ c.name }} </a>
                                <ul class="submenu dropdown-menu">
                                    {% for subcat in c.subcategory_set.all%}
                                    <!-- {% if subcat.course_set.all|length == 0 %}
                                    <li><a class="dropdown-item" href="#">{{ subcat }}</a></li>
                                    {% else %} -->
                                    <li><a class="dropdown-item dropdown-toggle" href="#">{{ subcat }}</a>
                                    <!-- {% endif %} -->
                                        <ul class="submenu dropdown-menu">
                                            {% for course in subcat.course_set.all %}
                                            <li><a class="dropdown-item" href="{% url 'course' course.Cid %}">{{ course }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li><a class="dropdown-item dropdown-toggle" href="#"> No Courses  </a>

                            {% endif %}
                        </ul>
                    </li>
                   
                    <li class="nav-item">
                         <a class="nav-link" href='{% url 'freecontent' %}' {% comment %}data-toggle="modal" data-target="#exampl" {% endcomment %}> 
                        Free Content
                        </a>
                    </li>
                </ul>
               
                <ul class="nav justify-content-end text-sm-left navbar-right ml-auto" id="navbar-left">
                    <li class="nav-item">
                        <form>
                            {% csrf_token %}
                            <div class="form-row">
                            <div class="col-10">
                            <input class="form-control " style="width: 250px;" type="text" placeholder="Search by domain or course">
                            </div>
                            
                            <button class="btn my-sm-0" type="submit" style="color: black;"><i class="fa fa-search"></i></button>
                            
                            </div>
                        </form>
                    </li>
                   {% if request.user.is_authenticated %}
                    <li class="nav-item ">
                    <p class="text-info ml-1" style="margin-top:5px;"> Welcome {{request.user.first_name}}</p>
                    </li>
                    <li class="nav-item">
                      
                        <a href='{% url 'logout' %}' class="btn btn-primary rounded ml-5" style="color: white">Log out</a>
                        
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal" style="padding-left: 0;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url 'signup' %}' class="btn btn-primary rounded" style="color: white">Sign Up</a>
                    </li>
                    {% endif %}

                </ul>
                 <div class="cart">
                <a href='{% url 'cart' %}?checkout='true''><i class="fas fa-shopping-cart"> {% if order.get_cart_items > 0 %}<span class="cart-qty">{{order.get_cart_items}}</span>{% endif %}</i></a>
                </div>

                
            </div>
        </div>
       
    </nav>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-size: 13px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><strong>Sign In</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="padding-right: 80px; padding-left: 80px;" method="POST" action='{% url 'login' %}'>
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address / Phone Number">
            </div>
            <div class="form-group">
                <div class="input-group" id="show_hide_password">
                    <input type="password" class="form-control" name="password" data-toggle="password" placeholder="Password" id="password-field">
                    <div class="input-group-addon">
                        <a href="" id="some"><i class="fa fa-eye-slash"  aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p style="font-size: 8.5px">By clicking Sign In, you agree to our <a href="/hpme">Terms of Use</a> and our <a href="/home">Privacy Policy.</a></p>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="font-size: 12px">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Topbar -->
{% block content %}
{% endblock content %}
<!-- Footer -->
<footer class="page-footer font-small pt-4 bottom-0">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left pb-3" style="background: transparent;">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <figure class="figure" style="margin: 11px;">
                    <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;width: 60px; height: 40px;">
                    <figcaption class="figure-caption text-center">LearnOpad</figcaption>
                </figure>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <p>
                <a href="/aboutus">About Us</a>
                </p>
                <p>
                <a href="/careers">Career</a>
                </p>
                <p>
                <a href="/contact">Contact Us</a>
                </p>
                <p>
                <a href="/terms-and-services">Terms/Services</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto" id="footer-left">
                <br>
                <p>
                <a href="/learner">Learners</a>
                </p>
                <p>
                <a href="/facilitator">Facilitators</a>
                </p>
                <p>
                
                <a href="/campus">Campus</a>
                </p>
                <p>
                <a href='{% url 'corporates'%}'>Corporates</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 social" id="footer-left">
            <h6 class="text-uppercase font-weight-bold">Our App</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 20px;">
            <p>
            <a href="https://www.apple.com/ios/app-store/"><i class="fab fa-apple mr-1" style="font-size: 20px;"></i> IOS Store</a>
            </p>
            <p>
            <a href="https://play.google.com/store"><img class="mr-1" src="{% static 'LandingPage/img/play-store.svg' %}" width="20px" height="20px"> Andriod Store</a>
            </p>
        </div>

    </div>


        <hr class="mb-4 mt-0 d-inline-block mx-auto text-sm-lef" style="width: 100%; height: 1px; background-color: #3db166;">

        <div class="row d-flex align-items-center">

        <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left text-sm-left">© 2020 Copyright:
            <a href="#" style="font-size:11px">
                <strong> TMHM Consulting Services Pvt.Ltd</strong>
            </a>
            </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right text-sm-left" id="social">

            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                <a href='https://www.tmhmindia.wordpress.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-wordpress-simple"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a  href="https://www.youtube.com/JaagoTalent"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-youtube"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.instagram.com/learnopad"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-instagram"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/tmhmindia"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.facebook.com/tmhmindia" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </li>
            </ul>
            </div>

        </div>

        </div>
    </div>

</footer>
<script>
    $(document).ready(function() {
        $("#show_hide_password #some").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass( "fa-eye-slash" );
                $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass( "fa-eye-slash" );
                $('#show_hide_password i').addClass( "fa-eye" );
            }
        });
    });
</script>

{% block javascript %}

{% endblock javascript%}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>