{% load static %}
<!DOCTYPE html>
<html>

<head>

    <link href="{% static 'LandingPage/img/logotiny.png' %}" rel="icon">
    <title>{% block title %}{% endblock title %}</title>
    {% block header %}
    {% endblock header %}

    {% block stylesheet %}
    {% endblock stylesheet %}
</head>

<body>

    <figure class="figure" style="margin-right: 11px;margin-top: 18px;margin-bottom: 11px;margin-left: 15px;">
        <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;">
        <figcaption class="figure-caption text-center">LearnOpad</figcaption>
    </figure>

    <nav class="navbar navbar-expand-lg navbar-light" style="background: #f7f7f7;">
        <div class="container">
            <a class="navbar-brand" href="/home"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                   
                    <li class="nav-item">
                         <a class="nav-link" href='{% url 'freecontent' %}' {% comment %}data-toggle="modal" data-target="#exampl" {% endcomment %}> 
                        Free Content
                        </a>
                    </li>
                </ul>

                <ul class="nav justify-content-end text-sm-left" id="navbar-left">
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0">
                            {% csrf_token %}
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn my-sm-0" type="submit" style="color: black;s"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal" style="padding-left: 0;">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="btn btn-primary rounded" style="color: white">Sign Up</a>
                    </li>
            
                </ul>
            </div>
        </div>
    </nav>
<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-size: 13px;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel"><strong>Sign In</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="padding-right: 80px; padding-left: 80px;" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address / Phone Number">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="password" class="form-control" name="password" data-toggle="password" placeholder="Password" id="password-field">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p style="font-size: 8.5px">By clicking Sign In, you agree to our <a href="/hpme">Terms of Use</a> and our <a href="/home">Privacy Policy.</a></p>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="font-size: 12px">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Topbar -->
{% block content %}
{% endblock content %}
<!-- Footer -->
<footer class="page-footer font-small pt-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left pb-3" style="background: transparent;">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <figure class="figure" style="margin: 11px;">
                    <img src="{% static 'LandingPage/img/logotiny.png' %}" class="figure-img img-fluid rounded" alt="LearnOpad" style="margin-bottom: 0;width: 60px; height: 40px;">
                    <figcaption class="figure-caption text-center">LearnOpad</figcaption>
                </figure>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" id="footer-left">
                <p>
                <a href="/aboutus">About Us</a>
                </p>
                <p>
                <a href="#!">Career</a>
                </p>
                <p>
                <a href="/contact">Contact Us</a>
                </p>
                <p>
                <a href="/terms-and-services">Terms/Services</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto" id="footer-left">
                <br>
                <p>
                <a href="/learner">Learners</a>
                </p>
                <p>
                <a href="/facilitator">Facilitators</a>
                </p>
                <p>
                
                <a href="/campus">Campus</a>
                </p>
                <p>
                <a href='{% url 'corporates'%}'>Corporates</a>
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 social" id="footer-left">
            <h6 class="text-uppercase font-weight-bold">Our App</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 20px;">
            <p>
            <a href="https://www.apple.com/ios/app-store/"><i class="fab fa-apple mr-1" style="font-size: 20px;"></i> IOS Store</a>
            </p>
            <p>
            <a href="https://play.google.com/store"><img class="mr-1" src="{% static 'LandingPage/img/play-store.svg' %}" width="20px" height="20px"> Andriod Store</a>
            </p>
        </div>

    </div>


        <hr class="mb-4 mt-0 d-inline-block mx-auto text-sm-lef" style="width: 100%; height: 1px; background-color: #3db166;">

        <div class="row d-flex align-items-center">

        <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left text-sm-left">© 2020 Copyright:
            <a href="#" style="font-size:11px">
                <strong> TMHM Consulting Services Pvt.Ltd</strong>
            </a>
            </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right text-sm-left" id="social">

            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                <a href='https://www.tmhmindia.wordpress.com' class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-wordpress-simple"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a  href="https://www.youtube.com/JaagoTalent"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-youtube"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.instagram.com/learnopad"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-instagram"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.linkedin.com/company/tmhmindia"class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                </li>
                <li class="list-inline-item">
                <a href="https://www.facebook.com/tmhmindia" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
                </li>
            </ul>
            </div>

        </div>

        </div>
    </div>

</footer>


{% block javascript %}
{% endblock javascript%}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>