{% extends 'LandingPage/base.html' %}
{% load rest_framework %}
{% load static %}

<!--------------------------------------- -->    
    {% block title %}
    Home
    {% endblock title %}
    <!------------------------------------ -->
    {% block header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'LandingPage/css/owl.theme.default.min.css' %}">
    {% endblock header %}
    <!------------------------------------- -->
    {% block stylesheet %}
    <style>
    body,html {
        margin: 0;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;
        font-family: Raleway;
    }
    .item{
        background-color: white;
        min-height: 250px;

        border-radius: 10px;
        border:2px solid black;
    }
    .label{
        color: white;
    }
    .head{
        color: black;
    }
    .signup-form form{

        width:100%;
        background-color: #f1f2f6;
        border-radius: 3px;
        margin-bottom: 15px;

        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .signup-form .hint {
        color: black;
        margin-bottom: 30px;
        text-align: center;
    }

    .slider-area{
        margin:0;
    }
    .carousel-control.left, .carousel-control.right{
        background: transparent;
    }
    .img-area{
        margin: auto;
        overflow: hidden;
        align-items: center;
    }
    .img-area img{
        height: 400px;
        width: 500px;
    }
    .carousel-caption{
        position: static;
        padding-bottom: 15px;
        padding-top: 0;
    }
    .carousel-caption h4{
        font-size: 20px;
    }
    #navbar-left a{
        text-decoration: none;
        color: #ababab;
    }
    #navbar-left a:hover{
        color: black;
    }
    #navbar-left button{
        color: white;
    }
    footer{
        background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
        color:#757575;
        font-size: 13px;
        line-height: 1.2
    }
    footer h6{
        color: #9e9e9e;
    }
    footer a{
        color: black;
    }
    footer a:link{
        text-decoration: none;
    }
    footer a:hover{
        color: #757575;
    }
    footer #social i{
        color: black;
        font-size: 1.2rem;
    }
    footer #social i:hover{
        color: #3db166;
    }
    @media (max-width: 768px) {
        #navbar-left{
            display: block;
        }
        #first {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 12px;
        }
        .container-fluid{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .section-a img{
            padding: 0;
        }
        footer{
            font-size: 7.2px;
        }
    }
    @media (max-width: 990px){
        #navbar-left{
            display: block;
        }
        #navbar-left form{
            display: none;
        }
        .section-a{
            margin-bottom: 32px;
        }
        .section-a img{
            margin: 32px;
        }
        .section-a #section-a-learn h2,h3{
            font-size: 31px;
        }
        .section-a #section-a-learn h4{
            font-size: 15px;
        }
        #query{
            margin-left: 11em;
        }
        #query_request{
            text-align: center !important;
        }
        footer{
            font-size: 7.2px;
        }
    }
    @media (max-width: 375px){
        #query{
            margin-left: 0 !important;
        }
    }
    @media all and (max-width: 765px){
        footer{
            font-size: 1rem;
        }
        #query{
            margin-left: 1.5em;
        }
        #footer-left{
            padding-left: 3em;
            text-align: left;
        }
    }
    

    @media only screen and (max-width: 1080px){
        #request{
            align-items: center;
            justify-content: center;
            text-align:center;
        }
    }

    </style>
    {% endblock stylesheet %}
<!------------------------------------------>

{% block content %}
    <div class="section-a">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 col-sm-12" style="padding: 0 !important;">
                    <img src="{% static 'LandingPage/img/LandingSectionre.png' %}" class="figure-img img-fluid" width="800px" height="550px">
                </div>
                <br>
                <div class="col-md-6 col-sm-12 text-center" style="margin-top: 4rem;" id="section-a-learn">
                    <h2><span style="color:blue">Live</span> Classes & <span style="color:blue">Recorded</span> Videos </h2>
                    <h3>for your Careerhood</h3>
                    <h4 id="effect" style="translate:Y(300%);"></h4>
                    <script>
                        var x=0;
                        var textEffect = "upSkill today for a better Career tomorrow.";
                        var h = document.getElementById('effect');

                        function animate(){
                            if (x < textEffect.length){
                                h.innerHTML += textEffect.charAt(x);
                                x++;
                                setTimeout(animate, 80); 
                            }
                            
                        }
                        animate();
                    </script>
                   <button class="btn mb-4 mt-3" style="color:white; background:blue;"><a href={% url "Lexplorecourses" %} style="color: white">Explore Now </a> <i class="fas fa-chevron-circle-right"></i></button>
                </div>
            </div>
        </div>
    </div>

        <div class="container text-center">
            <center><h2 style="color:black;font-family:'Raleway'"> Explore what excites you! </h2></center>
            <div class='container-fluid'>
                <figure class="figure">
                    <img src="{% static 'LandingPage/img/coming1.png' %}" class="figure-img img-fluid rounded" alt="" style="margin-left: 20px">
                </figure>
            </div>

            <div class="container-fluid mt-4">
                <center>
                    <h2 style="color:black;font-family:'Raleway'"> Achieve your goals with tDigital </h2>
                </center>
                <br>
                <div class="row" id="achieve">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <center><img src="{% static 'LandingPage/img/learnwith.png' %}" style="width:55px;height:55px"></center>
                        <br>
                        <center>
                            <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Learn with ease</h4>
                        </center>
                        <p style="color:#696969;font-weight:bold;padding:15px;text-align: center;font-size: 15px;font-family:'Raleway';">
                        Self-paced learning-whenever and whatever you want to learn.</p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <center><img src="{% static "LandingPage/img/live.png" %}" style="width:55px;height:55px"></center>
                        <br>
                        <center>
                            <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Explore our live classes</h4>
                        </center>
                        <p style="color:#696969;font-weight:bold;padding:5px; text-align:center;font-size: 15px;font-family:'Raleway';">
                        It's one-stop solution for all your needs by industry experts. </p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <center><img src="{% static 'LandingPage/img/internshipicon.png' %}" style="width:55px;height:55px"></center>
                        <br>
                        <center>
                            <h4 style="color:#696969;font-family:'Raleway'; text-align: center;">Get an internship</h4>
                        </center>
                        <p style="color:#696969;font-weight:bold;padding:15px;
                         text-align:center;
                            font-size: 15px;font-family:'Raleway';">We also offer internship opportunities in selected ares.</p>
                    </div>

                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                        <center><img src="{% static 'LandingPage/img/standout.png' %}" style="width:55px;height:55px"></center>
                        <br>
                        <center>
                            <h4 style="color:#696969;font-family:'Raleway';">Stand out of the crowd</h4>
                        </center>
                        <p style="color:#696969;font-family:'Raleway';font-weight:bold;padding:15px;
                        text-align:center;
                         font-size: 15px;">Get ready for a career with more confidence.</p>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container-fluid" style="background-color:  #eeeeee; max-height: 80%;">
            <div class="container1">
                <br>
                <h1 class="text-center " style="color: #bdbdbd;font-size:2.5em;"><strong>Our Industry Partners</strong></h1>
                <center>
                <div style="max-width: 100%">
                    <p class="text-center text-justify mt-2" style="font-size: 1.2rem; color: black;">Our facilitators are industry experts in their respective category excited to share their experience,wisdom and
                        experienced tool with you. </p>
                    <hr style="background-color:#00ff2be0;height:2px;width:60px;">
                </div>
                <figure class="figure">
                    <img src="{% static 'LandingPage/img/coming2.png' %}" class="figure-img img-fluid rounded" alt="">
                </figure>
            </div>
        </div>
        
    </div>

<!-- Footer -->
<div style="margin-top: 5em;"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <center><img src="{% static 'LandingPage/img/customer.png' %}"  class="img-fluid" style="width:350px;height:350px"></center>
            </div>
            <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-6 mt-4" id="request" style="background-size:1400px;padding-top:30px;padding-left:30px">
                <div class="row">
                    <div class="col-12 text-left" id="query_request">
                        <h2>Request for a free <br> Online Councelling</h2>
                    </div>
                    <div class="col-12" id="query">
                        <form id="#csform"  method="POST" action="{% url 'councelling' %}"onSubmit="return check_ephone(this)" style="width: 20em">
                            {% csrf_token %}
                                
                                <input class="form-control mb-2" name="name"type="text" placeholder="Name">
                                
                                <input type="email" class="form-control" name="email"  aria-describedby="emailHelp" placeholder="Enter email">
                                <div class="input-group mb-3 mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    
                                <input type="tel" class="form-control" name="phone_number" placeholder="PhoneNumber" aria-label="PhoneNumber" aria-describedby="basic-addon1">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
 {% if messages %}
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success mt-2">{{message}} </div>
{% endif %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger mt-2">{{message}} </div>
{% endif %}
{% endfor %}
{% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

<div style="margin-bottom: 5em;"></div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/da956b6924.js" crossorigin="anonymous"></script>
    <script src="{% static '/LandingPage/js/owl.carousel.js' %}"></script>

    {% endblock content %}

    {% block javascript %}
    <script>

 function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
}); 




  $(document).ready(function(){
  $("#smsg").css("display:None")
    var $myForm = $('#csform')
    $myForm.submit(function(event){
        event.preventDefault()
      
       var $thisURL = $myForm.attr('action')
       $.ajax({
           url: {% url 'councelling' %},
          type: "POST",
           
            
          data:JSON.stringify($( this).serialize()),
           dataType:'json',
           contentType: "application/json; charset=utf-8",
           success: handleFormSuccess,
            error: handleFormError,
        });
    });

    function handleFormSuccess(messages, textStatus, jqXHR){
    
        {% comment %} $('#smsg').text(messages.message); {% endcomment %}
       $myForm.reset(); // reset form data
         
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
         console.log(textStatus)
        console.log(errorThrown)
        console.log($("#msform").serialize());
    }
 })
  


        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

        function check_ephone(phno, email){
            var regex = /^[0-9]{10}$/;
            var regexe_email = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)){
                return true;
                } else {
                    if (!(regex.test(phno.yourphone.value)) ) {
                        alert("This is not a valid phone number");
                        return false;
                    }
                    if (!(regex.test(email.youreamil.value)) ) {
                        alert("This is not a valid email id");
                        return false;
                    }
                    if (!(regex.test(phno.yourphone.value) && regex_email.test(email.youremail.value)) ) {
                        alert("This is not a valid phone number and email id");
                        return false;
                    }
            }
        }
    </script>
{% endblock javascript %}