{% extends 'LandingPage/base.html' %}
{% load static %}
<!-------------------------- -->

{% block title %}
    About Us    
{% endblock title %}
<!--------------------------- -->

{% block header %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/plugins/OwlCarousel2-2.2.1/animate.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/about.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'LandingPage/css/section/about_responsive.css' %}">
{% endblock header %}
<!--------------------------------- -->

{% block stylesheet %}
<style>
    body,html {
        margin: 0;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;
    }
    .item{
        background-color: white;
        min-height: 250px;

        border-radius: 10px;
        border:2px solid black;
    }
    .label{
        color: white;
    }
    .head{
        color: black;
    }
   

    .img-area{
        margin: auto;
        overflow: hidden;
        align-items: center;
    }
    .img-area img{
        height: 400px;
        width: 500px;
    }
   
    #navbar-left a{
        text-decoration: none;
        color: #ababab;
    }
    #navbar-left a:hover{
        color: black;
    }
    #navbar-left button{
        color: white;
    }
    footer{
        background-image: linear-gradient(to bottom right, #f7f7f7, #eafbff);
        color:#757575;
        font-size: 13px;
        line-height: 1.2
    }
    footer h6{
        color: #9e9e9e;
    }
    footer a{
        color: black;
    }
    footer a:link{
        text-decoration: none;
    }
    footer a:hover{
        color: #757575;
    }
    footer #social i{
        color: black;
        font-size: 1.2rem;
    }
    footer #social i:hover{
        color: #3db166;
    }
    @media (max-width: 768px) {
        #navbar-left{
            display: block;
        }
        #first {
            padding-top: 2px;
            padding-bottom: 2px;
            line-height: 12px;
        }
        .container-fluid{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .section-a img{
            padding: 0;
        }
        footer{
            font-size: 7.2px;
        }
    }
    @media (max-width: 990px){
        #navbar-left{
            display: block;
        }
        #navbar-left form{
            display: none;
        }
        .section-a{
            margin-bottom: 32px;
        }
        .section-a img{
            margin: 32px;
        }
        .section-a #section-a-learn h2,h3{
            font-size: 31px;
        }
        .section-a #section-a-learn h4{
            font-size: 15px;
        }
        #query{
            margin-left: 11em;
        }
        #query_request{
            text-align: center !important;
        }
        footer{
            font-size: 7.2px;
        }
    }
    @media (max-width: 375px){
        #query{
            margin-left: 0 !important;
        }
    }
    @media all and (max-width: 765px){
        footer{
            font-size: 1rem;
        }
        #query{
            margin-left: 1.5em;
        }
        #footer-left{
            padding-left: 3em;
            text-align: left;
        }
    }
    

    @media only screen and (max-width: 1080px){
        #request{
            align-items: center;
            justify-content: center;
            text-align:center;
        }
    }

</style>
{% endblock stylesheet %}
<!---------------------------------- -->

{% block content %}
<div class="super_container">
	
	
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					
					<div class="section_title"><h2>A few words about us</h2></div>
				</div>
			</div>
			<div class="row about_row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="text_highlight" style="font-size: 16px;">TMHM is a career-oriented platform which envisions ameliorating your skills by providing you with career set-up programs to explore and compete with the competitive world.</div>
						<div class="about_text">
							<p>
                                We offer various courses related to business, web designing, marketing, development and much more. 
                                We make the process easy going for students and job seekers who are willing to explore all the career paths and transform their hidden talents and skills into their profession. 
                                We work for the betterment and growth of the newly joined employees in the corporate world by training them in personality development, soft skills and overall professional growth.  
                            </p>
						</div>
                        <div id="more" style="display: none;">
                            Our mission is ‘to bring talent to limelight’. 
                            We want each and everyone to explore their inner talents and lead a successful life.
                            We provide psychometric assessment which will help you catch up with the ongoing scenario. 
                            We are looking forward to helping you in admissions and placements, campus branding and enhancing credibility. 
                            We wish to achieve milestones with you. Our team members are committed to support you. 
                        </div>
                        <br>
						<button class="btn btn-outline-primary" onclick="myFunction()" id="mybtn" value="my value">Read More</button>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_image"><img src="{% static 'LandingPage/img/section/about1.jpg' %}" alt=""></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones" >
		<div class="container">
			<div class="row">
				
				<!-- Milestone -->
				<div class="col-lg-4 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="{% static 'LandingPage/img/section/about2.jpg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="15">0</div>
						<div class="milestone_text">Online Courses</div>
					</div>
				</div>
				<!-- Milestone -->
				<div class="col-lg-4 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="{% static 'LandingPage/img/section/about3.jpg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="213">0</div>
						<div class="milestone_text">Learners</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-4 milestone_col">
					<div class="milestone text-center">
						<div class="milestone_icon"><img src="{% static 'LandingPage/img/section/about4.jpg' %}" alt=""></div>
						<div class="milestone_counter" data-end-value="11923">0</div>
						<div class="milestone_text">Facilitaors</div>
					</div>
				</div>

				

			</div>
		</div>
	</div>
    </div>
	<!-- Why Choose Us -->

	<div class="why">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'LandingPage/img/section/why.jpg' %}" data-speed="0.8" style="background:url('{% static 'LandingPage/img/section/why.jpg' %}');"></div>
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title"><h2>Why choose us?</h2></div>
				</div>
			</div>
			<div class="row why_row">
				
				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image" style="padding: 20px black;">
							<img src="{% static 'LandingPage/img/section/about5.jpg' %}" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="{% static 'LandingPage/img/section/about5.jpg' %}" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Self pace learning</div>
							<div class="why_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="{% static 'LandingPage/img/section/about6.jpg' %}" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="{% static 'LandingPage/img/section/about6.jpg' %}" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Protrude for a better future</div>
							<div class="why_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Why item -->
				<div class="col-lg-4 why_col">
					<div class="why_item">
						<div class="why_image">
							<img src="{% static 'LandingPage/img/section/about7.jpg' %}" alt="">
							<div class="why_icon d-flex flex-column align-items-center justify-content-center">
								<img src="{% static 'LandingPage/img/section/about7.jpg' %}" alt="">
							</div>
						</div>
						<div class="why_content text-center">
							<div class="why_title">Procure an internship</div>
							<div class="why_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Team -->

	<div class="team">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					
					<div class="section_title"><h2>Meet the Alumni!</h2></div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Item -->
				<div class="col-xl-4 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'LandingPage/img/section/team_1.jpg' %}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Margaret Smith</a></div>
							<div class="team_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-4 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'LandingPage/img/section/team_2.jpg' %}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">James Williams</a></div>
							<div class="team_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				<div class="col-xl-4 col-md-6 team_col">
					<div class="team_item d-flex flex-column align-items-center justify-content-start text-center">
						<div class="team_image"><img src="{% static 'LandingPage/img/section/team_3.jpg' %}" alt=""></div>
						<div class="team_content">
							<div class="team_title"><a href="#">Michael James</a></div>
							<div class="team_text">
								<p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Team Item -->
				
                    
			</div>
		</div>
	</div>


    <div class="row text-center">

        <div class="col-6 col-md-6">
            <h3>Become an Facilitaor</h3>
            <p>Top facilitators from all around the world teach millions of learners here.</p>
            <button type="button" class="btn btn-primary btn-sm" id="shift1" style="margin-top:15px">Are you a facilitator?</button>   	
        </div>	
	


        <div class="col-6 col-md-6">
            <h3>Become a scholar</h3>
            <p>Get unlimited access to 400+ online courses and get to learn by our top facilitators.</p>
            <button type="button" class="btn btn-primary btn-sm" style="margin-top:15px">Are you a Learner?</button>
        </div>
    </div>

<div style="margin-bottom: 5em;"></div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/da956b6924.js" crossorigin="anonymous"></script>
    
    <script src="{% static 'LandingPage/js/section/plugins/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/greensock/TimelineMax.min.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/greensock/animation.gsap.min.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/easing/easing.js' %}"></script>
    <script src="{% static 'LandingPage/js/section/plugins/parallax-js-master/parallax.min.js' %}"></script>

    <script src="{% static 'LandingPage/js/section/about.js' %}"></script>

{% endblock content %}
<!------------------------------------ -->

{% block javascript %}
    <script>

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });

          $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $(".toggle-password").click(function() {

            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
            input.attr("type", "text");
            } else {
            input.attr("type", "password");
            }
        });
    </script>

 <script>
    
    function myFunction() {
      var elem = document.getElementById("mybtn");
      var x = document.getElementById("more");

        if (x.style.display === "none" && elem.innerHTML === "Read More") {
          elem.innerHTML = "Read Less"; x.style.display = "block";
          } else {
          elem.innerHTML = "Read More"; x.style.display = "none";
      }
    }

</script>
{% endblock javascript %}