{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
Explore Courses
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="{% static 'facilitators/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'facilitators/css/main.css'%}" rel="stylesheet">
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}
 <style>
        #accordionSidebar {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 20px;
        }
        
        #topbar {
            position: fixed;
            z-index: 100;
            vertical-align: top;
            left: 224px;
        }
        
        @media only screen and (max-width: 400px) {
            #topbar {
                left: 0;
            }
            #accordionSidebar {
                top: 65px;
            }
        }
        
        @media only screen and (max-width: 767px) {
            #topbar {
                left: 0;
            }
            #accordionSidebar {
                top: 65px;
            }
            #content {
                left: auto;
                right: 224px;
                width: 100%;
                width: calc(100% - 0px);
            }
        }
        
        @media only screen and (max-width: 1800px) {
            #content {
                margin-left: 113px;
            }
        }
    </style>
    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}
         <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body">
                                <nav class="navbar navbar-dark bg-dark">
                                    <!-- Navbar content -->
                                    <a class="navbar-brand" href="#">Settings</a>

                                </nav>

                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      General
                    </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEmail4">Email</label>
                                                            <input type="email" style="background-color:#ebf5f4" class="form-control" id="inputEmail4" placeholder="Email">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Password</label>
                                                            <input type="password" style="background-color:#ebf5f4" class="form-control" id="inputPassword4" placeholder="Password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputAddress">Address</label>
                                                        <input type="text" style="background-color:#ebf5f4" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputAddress2">Address 2</label>
                                                        <input type="text" style="background-color:#ebf5f4" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputCity">City</label>
                                                            <input type="text" style="background-color:#ebf5f4" class="form-control" id="inputCity">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="inputState">State</label>
                                                            <select id="inputState" style="background-color:#ebf5f4" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                      </select>
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label for="inputZip">Zip</label>
                                                            <input type="text" style="background-color:#ebf5f4" class="form-control" id="inputZip">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                        Check me out
                      </label>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link-dark collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Privacy
                    </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <form class="form-inline">
                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Who can see my stuff</label>
                                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="background-color:#ebf5f4">
                        <option selected>Choose...</option>
                        <option value="1">Noone</option>
                        <option value="2">Everyone</option>
                        <option value="3">Custom</option>
                      </select>

                                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                        <label class="custom-control-label" for="customControlInline">Remember my preference</label>
                                                    </div>

                                                    <button type="submit" class="btn btn-dark my-1">Submit</button>
                                                </form>
                                                <form class="form-inline">
                                                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Who can contact me</label>
                                                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="background-color:#ebf5f4">
                        <option selected>Choose...</option>
                        <option value="1">Noone</option>
                        <option value="2">Everyone</option>
                        <option value="3">Custom</option>
                      </select>

                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customControlInline1">
                                                        <label class="custom-control-label" for="customControlInline1">Remember my preference </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-dark my-1">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link-dark collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Notifications
                    </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                        <div class="card-body">
                                            <hr>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">Allow Notifications</label>
                                            </div>
                                            <hr>
                                            <div>
                                                <h5 style="font-weight: 400;">Where you recieve these notifications</h5>

                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                                    <label class="custom-control-label" for="customSwitch2">Push</label>
                                                </div>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                    <label class="custom-control-label" for="customSwitch3">Email</label>
                                                </div>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                                    <label class="custom-control-label" for="customSwitch4">SMS</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <div class="outer-container-that-is-relative bg-white" style="margin-top: 90px;position: relative;font-family: 'Raleway';" id="content">
                    <div class="col-12">
                        <div class="card">

                            <img src="{% static 'facilitators/img/explore_courses.jpg'%}" class="img-fluid img-thumbnail" alt="Responsive image" style="filter: blur(2px);
                          -webkit-filter: blur(2px);height:250px; background-position: center;
                          background-repeat: no-repeat;background-size: cover;">

                            <h2 style="position: absolute;color: white;font-weight: 600;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: rgba(0,0,0, 0.4);border: 3px solid #f1f1f1;width: 50%; padding: 10px;text-align: center">All courses</h2>
                            <!--/col-->

                            <!--/row-->

                            <!--/card-block-->
                        </div>
                    </div>
                    {% for product, range, nSlides in category %}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h6 style="position: absolute;color: white;font-weight: 600;position: relative;bottom: -50px; top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: rgba(0,0,0, 0.4);border: 3px solid #f1f1f1;width: 50%; padding: 10px;text-align: center"
                            class="h6 d-inline-block mb-2">{{ product.0.subCat_id.name }}</h6>
                    </div>
                    <div class="slider-area">
                        <div class="container">
                            <div id="carouselExampleIndicators{{forloop.counter}}" class="carousel slide" data-ride="carousel">
                                
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators{{forloop.counter}}" data-slide-to="0" class="active"></li>
                                    {% for i in range %}
                                    <li data-target="#carouselExampleIndicators{{forloop.parentloop.counter}}" data-slide-to={{ i }}></li>
                                    {% endfor %}
                                </ol>
                                <div class='carousel-inner'>
                                    <div class='carousel-item active'>
                                        <div class='container'>
                                            <div class='row text-center'>
                                                <div class='col-md-4 col-sm-12 mb-2'>
                                                    <div class="card border">
                                                        
                                                        {% if product.0.thumbnail %}
                                                        <img class="card-img-top" src={{ product.0.thumbnail.url }} alt="Card image cap" height="250px">
                                                        {% endif %}
                                                            
                                                        
                                                        <div class="card-body" style="background-color:gainsboro">
                                                            <h5 class="card-title" style="color:red;">{{ product.0.title }}</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">{{ product.0.name }}</h6>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% for i in product|slice:"1:" %}
                                                <div class='col-md-4 col-sm-12 col-sm-offset-1 mb-2'>
                                                    <div class="card border">
                                                        
                                                        {% if i.thumbnail %}
                                                        <img class="card-img-top" src={{ i.thumbnail.url }} alt="Card image cap" height="250px">
                                                        {% endif %}
                                                            
                                                        
                                                        <div class="card-body" style="background-color:gainsboro">
                                                            <h5 class="card-title" style="color:red;">{{ i.title }}</h5>
                                                            <h6 style="color:#262626;font-size: 0.75em;">{{ i.name }}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
                                                </div></div></div>
                                                <div class='carousel-item'>
                                                    <div class='container'>
                                                        <div class='row text-center'>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                <a class="carousel-control-prev primary" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators{{forloop.counter}}" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <script src="{% static 'facilitators/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'facilitators/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'facilitators/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'facilitators/js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'facilitators/vendor/chart.js/Chart.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'facilitators/js/demo/chart-area-demo.js'%}"></script>
    <script src="{% static 'facilitators/js/demo/chart-pie-demo.js'%}"></script>
    {% endblock content %}
<!-- ------------------------------------------------- -->
    {% block javascript %}

    {% endblock javascript%}




       
       
    


