{% extends '../base.html' %}
{% load static %}
<!-- ---------------------------------------------- -->
    {% block title %}
SB Admin 2 - Dashboard
    {% endblock title %}
<!-- --------------------------------------------- -->
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="{% static 'facilitators/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'facilitators/css/main.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'facilitators/css/support.css'%}">
    {% endblock header %}
<!-- ------------------------------------------- -->
    {% block stylesheet %}

    {% endblock stylesheet %}
<!-- ----------------------------------------------------- -->
    {% block content %}


                <!-- Begin Page Content -->
                <div class="container">
                    <form method='POST'>
                        {% csrf_token %}
                        <h1>Need Help?</h1>
                        <p>Get in touch with us. Solve your problems by contacting our support team.
                            <label for="subject"></label>
                            <textarea id="subject" name="Queries" required rows="4" cols="10" placeholder="Write down your Queries here.." style="height:150px" style="width:250px"></textarea>
                            <br>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-submit btn-default">Submit</button>
                    </form>
                   <br /><br /><br />
                    {% for i in data %}
                    <div class="card border-success mb-3">
                            <div class="card-header" style="text-align: left"><strong>{{ i.Fid.name }}</strong></div>
                            <div class="card-body" style="text-align: left">
                              <p class="card-text"></p>Query: {{ i.query }}</p>
                            </div>
                            {% if i.reply == None %}
                            <div class="card-footer" style="text-align: left">No replies yet</div>
                            {% else %}
                            <div class="card-footer" style="text-align: left">Reply: {{ i.reply }}</div>
                            {% endif %}
                          </div>
                    <br>
                    {% endfor %}
            

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'facilitators/vendor/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'facilitators/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'facilitators/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'facilitators/js/sb-admin-2.min.js'%}"></script>

        <!-- Page level plugins -->
        <script src="{% static 'facilitators/vendor/chart.js/Chart.min.js'%}"></script>

        <!-- Page level custom scripts -->
        <script src="{% static 'facilitators/js/demo/chart-area-demo.js'%}"></script>
        <script src="{% static 'facilitators/js/demo/chart-pie-demo.js'%}"></script>

    {% endblock content %}
<!-- ------------------------------------------------- -->
    {% block javascript %}

    {% endblock javascript%}
