{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

    {% block header %}
    {% endblock header %}
    <link rel="stylesheet" href="{% static 'learners/assets/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'learners/assets/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'learners/assets/css/bootstrap-datepicker.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'learners/assets/css/style.css' %}">
    {% block stylesheet %}
    {% endblock stylesheet %}
  </head>
  <body class="sidebar-light">
    <style>
        .fa,.fas{
            
            margin-right: 1.125rem;
            color:#5e2572;
        }
        .active .fa{
            color: #fff!important;
        }
        .brand-logo, .brand-logo-mini{
          color: #ececec;
        }
    </style>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
        <ul class="navbar-nav mr-lg-2 d-none d-lg-flex">
          <li class="nav-item nav-toggler-item">
            <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
          </li>
          
        </ul>
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img src="{% static 'learners/assets/images/logotiny.png' %}" alt="logo" style="width: 70px; height: auto;"/>&nbsp; LearnOpad</a>
          <a class="navbar-brand brand-logo-mini" href="index.html" style="padding-left: 60px;"><img src="{% static 'learners/assets/images/logotiny.png' %}" alt="logo" style="width: 70px; height: auto;"/>&nbsp;LearnOpad</a>
        </div>
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item nav-profile dropdown">
            <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{% static 'learners/img/team-4.jpg' %}">
             </span>
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                
              <span class="nav-profile-name">{{request.user.learner.name}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'learner_profile' %}">
                <i class="fas fa-user-circle text-primary"></i>
                Profile
              </a>
              <a class="dropdown-item" href="{% url 'learner_settings' %}">
                <i class="fas fa-user-cog text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#!">
                <i class="mdi mdi-logout text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          
          <li class="nav-item nav-toggler-item-right d-lg-none">
            <button class="navbar-toggler align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'learner_index' %}">
              <i class="fas fa-id-card"></i>
              <span class="menu-title">My Courses</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learner_certi' %}">
              <i class="fa fa-globe"></i>
              <span class="menu-title">Certificates</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learner_intern' %}">
              <i class="fa fa-bar-chart "></i>
              <span class="menu-title">Internships</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'learner_chat' %}">
              <i class="fa fa-globe "></i>
              <span class="menu-title">Talk to Expert</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'freecontent' %}">
              <i class="fa fa-globe "></i>
              <span class="menu-title">FREE Content</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'learner_support'%}">
                  <i class="fa fa-heart "></i>
                <span class="menu-title">Support</span>
              </a>
            </li>
          
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block content %}
          {% endblock content %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.tmhm.com/" target="_blank">TMHM</a>. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% block javascript %}
  {% endblock javascript%}
  <!-- plugins:js -->
  <script src="{% static 'learners/assets/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'learners/assets/js/Chart.min.js' %}"></script>
  <script src="{% static 'learners/assets/js/bootstrap-datepicker.min.js' %}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'learners/assets/js/off-canvas.js' %}"></script>
  <script src="{% static 'learners/assets/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'learners/assets/js/template.js' %}"></script>
  <script src="{% static 'learners/assets/js/settings.js' %}"></script>
  <script src="{% static 'learners/assets/js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'learners/assets/js/dashboard.js' %}"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <!-- End custom js for this page-->
</body>
</html>