{% extends 'LandingPage/base.html' %}
{% load static %}
{% load filters %}
<!--------------------------------- -->

{% block title %}
Fascilitator details
{% endblock title %}
<!---------------------------------- -->

{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href='{% static 'LandingPage/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}' rel="stylesheet" type="text/css">
<link href='{% static 'LandingPage/plugins/colorbox/colorbox.css'%}' rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/owl.carousel.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/owl.theme.default.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/plugins/OwlCarousel2-2.2.1/animate.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/styles/courses.css'%}'>
<link rel="stylesheet" type="text/css" href='{% static 'LandingPage/styles/courses_responsive.css'%}'>

        <link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400">
        

    
    <link rel="stylesheet" href='{% static 'LandingPage/css/open-iconic-bootstrap.min.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/css/animate.css'%}'>

    <link rel="stylesheet" href='{% static 'LandingPage/css/owl.carousel.min.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/css/owl.theme.default.min.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/css/magnific-popup.css'%}'>

    <link rel="stylesheet" href='{% static 'LandingPage/css/aos.css'%}'>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'LandingPage/css/ionicons.min.css'%}'>

    <link rel="stylesheet" href='{% static 'LandingPage/css/flaticon.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/css/icomoon.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/css/style.css'%}'>
    <link rel="stylesheet" href='{% static 'LandingPage/profile.css'%}'>
    {% endblock header %}
<!---------------------------------- -->

{% block stylesheet %}
    <style>
#more {display: none;}
</style>
{% endblock stylesheet %}
<!---------------------------- -->

{% block content %}

    
    <div class="container d-flex flex-row align-items-center justify-content-start" style="margin-top: 50px;margin-bottom: 50px">
      <div class="container">
      <div class="row">
        <div class="col-sm-4 order-1 order-lg-2">
            <div align="center">
             <img src='{% static 'LandingPage/images/teacher-5.jpg'%}' style="width: 200px;border-radius: 200px">
            </div>
        </div>
        <div class="col-sm-8 order-2 order-lg-1">
            <div style="font-family: 'Raleway',sans-serif">
                        <div style="margin-top:20px" class="text-muted">FACILITATOR</div>
                        <h1 style="font-weight: 700">{{faci.name}}</h1>
                        <h5 style="margin-top: -10px;font-weight: 500">{{faci.user.intrest}}</h5>
                        <div style="margin-top: 20px">
                            <div class="container" style="margin-left: -18px;">
                              <div class="row">
                                  <div class="col-6" class="text-muted"><h6 style="font-weight: 700">Total Students</h6></div>
                                  <div class="col-6" class="text-muted"><h6 style="font-weight: 700"> Reviews</h6></div>
                                <div class="w-100"></div>
                                  <div class="col-6"><h3 style="font-weight: 700">{{total_learners}}</h3></div>
                                <div class="col-6"><h3 style="font-weight: 700">{{facilitator_rating}} <i class="fa fa-star" aria-hidden="true"></i></h3></div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
        </div>
      </div>
    </div>
    </div>
    <div class="container d-flex flex-row align-items-center justify-content-start" style="margin-top:-50px;margin-bottom: 50px">
      <div class="container">
      <div class="row">
        <div class="col-sm-8">
            <h5 style="font-weight: 500;margin-top: 10px">About Me</h5>
            <p><b>Sharing is who I am, and teaching is where I am at my best, because I've been on both sides of that equation, and getting to deliver useful training is my meaningful way to be a part of the creative community.

                I've spent a long time watching others learn, and teach, to refine how I work with you to be efficient, useful and, most importantly, memorable. I want you to carry what I've shown you into a bright future.
                
                I have a wife (a lovely Irish girl) and kids. I have lived and worked in many places (as Kiwis tend to do) – but most of my 14+ years of creating and teaching has had one overriding theme: bringing others along for the ride as we all try to change the world with our stories, our labours of love and our art.
                
                I'm a certified Adobe instructor (ACI) in Ireland. I'm also an Adobe Certified Expert (ACE) and have completed the Adobe Certified Associate training (ACA). And I don't just do Adobe. Remember, media is a very broad term – digital blew out the borders, so we are all constantly learning.

                I've been teaching for 14+ years. I come from being a media designer and content creator – so I understand exactly where you're at now. I've been there. I love this stuff. Print, digital publishing, web and video. I can see how it all connects. And I can see how we can share those connections.

                
                </b></p>
            {% comment %} <button onclick="myFunction()" id="myBtn" class="btn btn-info">Read more</button> {% endcomment %}
            
            <div class="courses_container">
                <h3 style="font-weight: 700;margin-top: 20px">My Courses</h3>
						
							
							<!-- Course -->
                            
  				            <!-- {% cycle "<div class='row courses_row'>" "" %} -->
                                  <div class="row courses_row ">
                                    {% for course in courses %}
                            
		                    <div class="col-lg-6 course_col">
								<div class="card course">
									<div class="course_image"><img src='{% static 'LandingPage/images/course_8.jpg'%}' alt=""></div>
									<div class="course_body">
										<h3 class="course_title"> <a href='{% url 'course' course.Cid %}' class="stretched-link">{{course.title}}</a></h3>
										
										<div class="course_text">
											<p>{{course.description}}</p>
										</div>
									</div>
									<div class="course_footer">
										<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
											<div class="course_info">
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
												<span>{{course.enrolling.all|length}}</span>
											</div>
											<div class="course_info">
												<i class="fa fa-star" aria-hidden="true"></i>
												<span>5 Ratings</span>
											</div>
											<div class="course_price ml-auto">$130</div>
										</div>
									</div>
								</div>
                            </div>	
                            
                         <!-- {% cycle "" "</div>" %} -->
                         {% endfor %}
                        </div>
                        
                        
                        <div class="container" style="margin-top: -30px">
                          <div class="row">
                            <div class="col-sm" align="center" style="margin-left: -20px">
                              
									<ul class="pagination_list">
                                    {% if courses.has_previous %}
										<li class="active"><a href="?page={{ courses.privious_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
									{% endif %}	
                                        <li><a href="#">{{ courses.number }}</a></li>
										
                                    {% if courses.has_next %}
										<li><a href='?page={{ courses.next_page_number }}'><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
									{% endif %}
                                    </ul>
                                
                            </div>
                            {% comment %} <div class="col-sm" align="center" style="margin-right: -15px">
                              <div class="courses_show_container ml-auto clearfix">
										<div class="courses_show_text">Showing <span class="courses_showing">1-6</span> of <span class="courses_total">26</span> results:</div>
										<div class="courses_show_content">
											<span>Show: </span>
											<select id="courses_show_select" class="courses_show_select">
												<option>06</option>
												<option>12</option>
												<option>24</option>
												<option>36</option>
											</select>
										</div>
									</div>
                                </div>
                          </div> {% endcomment %}
                        </div>
						
					</div>
        </div>

                    
                  
        </div>
        <div class="col-sm-4">
                
            <div style="font-family: 'Raleway',sans-serif" align="center"> 
                  {% if faci.user.experience.Website_Url %}  <div>     
                <a href='{{faci.user.experience.Website_Url}}'><button type="button" class="btn btn-outline-info" style="padding-left:50px;padding-right:50px;width:200px;font-weight:700;margin-top:10px"><i class="fa fa-link" aria-hidden="true"></i> Website</button></a>
                
                </div>
                {% endif %}  
               
             
              
            
            {% if faci.user.experience.Linkedin_Url %}
            <div><a href='{{faci.user.experience.Linkedin_Url}}'><button type="button" class="btn btn-outline-info" style="padding-left:50px;padding-right:50px;width:200px;font-weight:700;margin-top:10px"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button></a></div>  
            {% endif %}
            {% if faci.user.experience.Youtube_Url %}
            <div><a href='{{faci.user.experience.Youtube_Url}}'><button type="button" class="btn btn-outline-info" style="padding-left:50px;padding-right:50px;width:200px;font-weight:700;margin-top:10px"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</button></a></div>
             {% endif %}
            </div>
                        
        </div>
        </div>
      </div>
    </div>
</div>
    
    
    <!-- footer start  -->
    


    <!-- loader -->
    


    <script src='{% static 'LandingPage/js/jquery.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery-migrate-3.0.1.min.js' %}'></script>
    
    
    
    <script src='{% static 'LandingPage/js/jquery.stellar.min.js' %}'></script>
    
    <script src='{% static 'LandingPage/js/aos.js' %}'></script>
    
    
    <script src= '{% static 'LandingPage/js/courses.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery-migrate-3.0.1.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/popper.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/bootstrap.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.easing.1.3.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.waypoints.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.stellar.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/owl.carousel.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/jquery.magnific-popup.min.js' %}'></script>
    
    <script src='{% static 'LandingPage/js/jquery.animateNumber.min.js' %}'></script>
    <script src='{% static 'LandingPage/js/scrollax.min.js' %}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src='{% static 'LandingPage/js/google-map.js' %}'></script>
    <script src='{% static 'LandingPage/js/main.js' %}'></script>
    {% endblock content %}
    {% block javascript %}
    <script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>

{% endblock javascript %}